@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*   font-family: "Merriweather", serif; */
/*  font-family: "Inter", sans-serif; */

body{
    font-family: "Merriweather", serif;
    max-width: 1320px;
    margin: 0 auto ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    margin-bottom: 120px;
}

section{
    margin-bottom: 120px;
}

/* banner section style starts here */

.banner-container{
   
    
    min-height: 600px;
    
    margin-top: 50px;
    background-image:url(images/Banner\ Image.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    
}

.banner-content p,h2{
    color: white;

}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p{
    font-size: 32px;
    font-weight: 400;
}

.banner-content h2{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* 65% section starts here  */

.second-section-container{
    width: 802.9px;
    height: 806px; 
   
    margin: 120px auto;
}

.second-section-content{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.second-section-content h1{
    color: red;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
   
}

.second-section-content p{
    color: red;
    font-family:Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
   
}

.second-section-content h3{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container{
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}

.image-container img{
    width: 100%;
    height: 100%;
}

/* midnight section strats */

.third-section-container{
    height: 600px;
    
    background-image: url(images/Vectorrr.png),linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;


}

.third-section-items{
     display: flex;
  
    gap: 40px;
    padding: 70px 120px;
}

.third-section-content{
    width: 642px;
    margin-top: 50px;
    
  
}

.third-section-content h2{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 2px;
}

.third-section-content p{
    color: white;
    opacity: 0.8;
    font-family: "Inter", sans-serif; 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0 48px 0px;
}

.third-section-items button{
    border: none;
    color: white;
    background: transparent;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 50px;
}
.third-section-image{
    width:349.16px; 
    height: 600px;
 
    

}

.fourth-section-container{
    height: 482px;
    
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-section-content h2{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: black;
}

.fourth-section-container button{
    background-color: red;
    color:white;
    border: none;
    padding: 16px 32px;
    font-weight: 20px;
    font-weight: 700;
    border-radius: 5px;
    

}

.btn-center{
   text-align: center;
   margin-top: 70px;
}

/* holiday style */

.holiday-section-container{
    height: 986px;
    
    position: relative;
}

.holiday-content-text{
   
    width: 1068px;
    height: 260px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin: 0 auto;

}

.holiday-content-text h5{
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
}

.holiday-content-text h1{
    font-family: Merriweather;
    font-size:72px;
    font-weight: 900;
    margin-top: 16px;

}

.holiday-content-text p{
    font-family: Inter;
    font-size: 20pz;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    color: rgba(7, 2, 17, 0.6);
    margin-top: 28px ;
}

#holiday{
    color: red;
}

.soild-color{
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
    left: 0%;
    right: 0;
}

.gift-img{
    width: 796.46px;
    height: 662.07px;
    
   
    z-index: 1;
    position: relative;
}

.gift-img img{
    width: 90%;
    height: 90%;
    position:absolute;
    top: 30%;
    left: 10%;
}

.img-container{
    display: flex;
    position: relative;
  
}
.img-container img{
    width: 70%;
    height: 70%;

   
}

.discount-img{
    width: 305.69px;
height: 305.69px;
position:relative;


z-index: -1;

}

.discount-img img{
 
    position: absolute;
    top:30%;
    left: 10%;
}


/* portfolio styles */

.portfolio-container{
    height: 1163px;
    
}

.portfolio-section-content h5{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

.portfolio-section-content h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-bottom: 20px;
}

.portfolio-section-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
margin-bottom: 50px;
}
.portfolio-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;

}

.item{
    width: 424px;
height: 450px;
}

.item img{
    width:100%;
    height: 100%;
}


.newsletter-section{
    height: 616px;
   

    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newletter-content{
    width: 896px;
height: 336px;

margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap: 30px;
}

.newletter-content h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}

.newletter-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}


.form{
    margin-top: 48px;
}
.form input[type="email"]{
    width: 648px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
}

.form input[type="submit"]{
    width: 210px;
height: 72px;
border: none;
outline: none;
background-color: red;

color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
border-radius: 0px 50px 50px 0px;

}

.footer-container{
   
height: 609px;
background: rgb(7, 2, 17);

padding: 120px 140px;

}

.address p{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;

}

.contact{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px;   
}

.footer-first-section{
    display: flex;
    justify-content: space-between;
   
}

hr{
    margin: 50px 0px;
}

.social-icon{
    width: 400px;
   
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.social-icon i{
    font-size: 50px;
   


}

.red-color{
    color: red;
}

.sky-color{
    color:rgb(40, 55, 192)
}

.pink-color{
    color: rgb(197, 37, 90);
}

.blue-color{
    color: blue;
}

.footer-end-text{
    display: flex;
    justify-content: space-between;

}

.footer-end-text p{
    color: white;
}




